---
---


@import "{{ site.theme }}";

// syntax highlighting theme
@import "monokai.css";

body {
  color: #a0fbee !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffa4eb !important;
}

section #title p {
  color: #888 !important;
}

h2 {
  font-size: 14px !important;
}

header {
  border-bottom: 1px dashed #bdf6ff !important;
  // get rid of the "./ " the hacker theme adds
  h1:before {
    content: "   " !important;
    font-size: 24px;
  }
  
  h2 {
    color: #a67cbb !important;
    margin: 0 0 0px;
  }
}
