---
---

/*
$hippie-blue: #49889A;
$apple-blossom: #A95249;

.highlight {

  $plaintext: white !default;
  $string: #e6db74  !default;
  $literal: #ae81ff !default;
  $keyword: #66d9ef !default;
  $error-foreground: grey !default;
  $error-background: $apple-blossom !default;
  $comment: #75715e !default;
  $preprocessor: #FFAC64, !default;
  $name-space: #f8f8f2 !default;
  $name-attribute: #a6e22e !default;
  $operator: #f92672 !default;
  $keyword-type: #ffab67 !default;
  $regex: #e6db74 !default;
  $string-escape: #ae81ff !default;
  $deleted: $apple-blossom !default;
  $header: $hippie-blue !default;
  
  color: $plaintext;

  table td { padding: 5px; }
  table pre { margin: 0; }
  .w {
    color: $plaintext;
  }
  .err {
    color: $error-foreground;
    background-color: $error-background;
  }
  .c,  .cd,  .cm,  .c1,  .cs {
    color: $comment;
  }
  .cp {
    color: $preprocessor;
  }
  .o,  .ow {
    color: $operator;
  }
  .p,  .pi {
    color: $plaintext;
  }
  .gi {
    color: $string;
  }
  .gd {
    color: $deleted;
  }
  .gh {
    color: $header;
    font-weight: bold;
  }
  .k,  .kn,  .kp,  .kr,  .kv {
    color: $keyword;
  }
  .kc, .kt, .kd {
      color: $keyword-type;
  }
  .s,  .sb,  .sc,  .sd,  .s2,  .sh,  .sx,  .s1 {
    color: $string;
  }
  .sr {
    color: $regex;
  }
  .si, .se {
    color: $string-escape;
  }
  .nt, .nn,  .nc, .no{
    color: $name-space;
  }
  .na {
    color: $name-attribute;
  }
  .m,  .mf,  .mh,  .mi,  .il,  .mo,  .mb,  .mx {
    color: $literal;
  }
  .ss {
    color: $string;
  }
}
*/

@import "{{ site.theme }}";

// syntax highlighting theme
@import "monokai.css";

body {
  color: #bdf6ff !important;
}

h1, h2, h3, h4, h5, h6 {
  color: #7affed !important;
}

section #title p {
  color: #888 !important;
}

h2 {
  font-size: 14px !important;
}

header {
  border-bottom: 1px dashed #bdf6ff !important;
  // get rid of the "./ " the hacker theme adds
  h1:before {
    content: "   " !important;
    font-size: 24px
  }
  
  h2 {
    color
  }
}
